1 {
  font-size: 20x;
  font-style: normal;
}
p {
  font-size: 20px;
  font-family: sans-serif;
}
body {
  background-color: : blue;
}
li {
  font-size: 20px;
}
.hobbies{
  font-family: monospace;
}
.navbar
{
padding-top: 150px;
}
.div
{
  width: 300px;
  padding: 25px;
  border: 25px solid navy;
  margin: 25px;
}
